<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Information</title>
  <script>
    function validateForm() {
      var usernameInput = document.getElementById('newUsername');
      var phoneNumberInput = document.getElementById('newPhoneNumber');
      if ((usernameInput && usernameInput.value.trim() !== '') || (phoneNumberInput && phoneNumberInput.value.trim() !== '')) {
        if (phoneNumberInput && phoneNumberInput.value.trim() !== '') {
          if (isValidPhoneNumber(phoneNumberInput.value.trim())) {
            return true;
          } else {
            return false;
          }
        } else {
          return true;
        }
      } else {
        return false;
      }
    }
    function isValidPhoneNumber() {
      var phoneNumberInput = document.getElementById('newPhoneNumber');
      if (phoneNumberInput.value != "") {
        var phoneNumber = parseInt(phoneNumberInput.value, 10);
        if (!isNaN(phoneNumber) && phoneNumber >= 30000000 && phoneNumber <= 80000000) {
          return true;
        } else {
          return false;
        }
      } else {
        return true
      }

    }

  </script>
  <style>
    .account-info-container {
      max-width: 600px;
      margin: auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
      margin-top: 50px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
    }
  </style>
</head>

<body>

  <div class="container account-info-container">
    <h2>Account Information</h2>

    <div class="form-group">
      <label for="userId">User ID:</label>
      <p id="userId">{{details.UserID}}</p>
    </div>

    <div class="form-group">
      <label for="username">Username:</label>
      <p id="username">{{details.Name}}</p>
    </div>

    <div class="form-group">
      <label for="accountType">Account Type:</label>
      <p id="accountType">{{details.UserType}}</p>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone Number:</label>
      <p id="phoneNumber">{{details.PhoneNumber}}</p>
    </div>


    <form method="post" id="updateForm" class="container account-info-container" onsubmit="return validateForm()">
      <input type="hidden" name="userId" value="{{details.UserID}}">
      <div class="form-group">
        <label for="newUsername">New Username:</label>
        <input type="text" name="NewUser" class="form-control" id="newUsername" placeholder="Enter new username">
      </div>

      <div class="form-group">
        <label for="newPhoneNumber">New Phone Number:</label>
        <input type="tel" name="phoneNumber" class="form-control" id="newPhoneNumber"
          placeholder="Enter new phone number">
      </div>

      <input type="submit" class="btn btn-primary" value="Update Information" onclick="validateForm()">
      <a href="/ResetPassword/{{details.UserID}}"><button type="button" class="btn btn-danger">Reset Password</button></a>
    </form>
  </div>

</body>

</html>