<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Manager Page</title>

    <style>
        .sales-table {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
            <h3 class="m-0">{{ManagerName}}</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Home</li>
                    <li class="breadcrumb-item ">Manager</li>
                </ol>
            </nav>
        </div>
    </div>

    {{#if isManaging}}

    <!-- Station Information -->
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Station Information</h5>
            <p class="card-text"><strong>Station Name:</strong> {{station.Name}}</p>
            <p class="card-text"><strong>Station Location:</strong> {{station.Location}}</p>
            <p class="card-text"><strong>Premium Price:</strong> ${{premium.price}} per Liter | {{premium.remaining}}/L Left</p>
            <p class="card-text"><strong>Super Price:</strong> ${{super.price}} per Liter | {{super.remaining}}/L Left</p>
        </div>
    </div>


    <!-- Sales Section -->
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Sales</h5>

            <!-- Date Selection -->
            <div class="form-group">
                <form method="POST">
                    <label for="selectDate">Select Date:</label>
                    <div class="d-flex docs-highlight align-items-center">
                        <input type="date" class="form-control p-2 docs-highlight" name="salesDate">
                        <input type="submit" class="btn btn-primary p-2 docs-highlight w-25 ms-3" value="View Sales">
                    </div>
                </form>
            </div>

            <!-- Sales Table -->
            <div class="table-responsive sales-table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type of Fuel</th>
                            <th>Quantity (Liter)</th>
                            <th>Sales</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if sales.error}}
                        <tr>
                            <td>No sales were recorded for this particular day</td>
                        </tr>
                        {{else}}
                        {{#each sales.salesByType}}
                        <tr>
                            <td>{{this.Date}}</td>
                            <td>{{this.Type}}</td>
                            <td>{{this.Quantity}}</td>
                            <td>{{this.Sales}}</td>
                        </tr>
                        {{/each}}
                        {{/if}}

                        <!-- Add more rows as needed -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-left"><strong>Total Sales:</strong></td>
                            <td>${{sales.totalSalesSum}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
    <!-- Action Buttons -->
    <div class="mt-3">
        <a class="btn btn-primary mr-2" href="/{{ManagerName}}/{{station.StationID}}/delivery">Delivery</a>
        <a class="btn btn-success" href="/{{ManagerName}}/{{station.Name}}/recordSales">Record Sales</a>
    </div>
    {{#if msg}}
    <div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
        <strong>Alert:</strong> {{msg}}
        <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
    </div>
    {{else}}
    <div class="card w-75">
        <div class="card-header">
            Note
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>The Manager {{ManagerName}} is not assigned to any station.</p>
                <footer class="blockquote-footer">Please contact the admin for more information.
                </footer>
            </blockquote>
        </div>
    </div>
    {{/if}}




    <!-- Bootstrap JS and dependencies-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>